/* Error: expected "{".
 *     ,
 * 131 | >>>>>>> 1af2ae134ae84c24fcce43278d01b4cefdb49bf8
 *     |                                                 ^
 *     '
 *   sass\Clases_Utilitarias\_fuente.scss 131:49  @use
 *   sass\Clases_Utilitarias\_sombras.scss 3:1    @use
 *   sass\main.scss 2:1                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 131 \2502  >>>>>>> 1af2ae134ae84c24fcce43278d01b4cefdb49bf8\d\a     \2502                                                  ^\a     \2575 \a   sass\\Clases_Utilitarias\\_fuente.scss 131:49  @use\a   sass\\Clases_Utilitarias\\_sombras.scss 3:1    @use\a   sass\\main.scss 2:1                           root stylesheet';
}
