/* Error: Undefined variable.
 *     ,
 * 111 |   box-shadow: $creeper-shadow; // creeper-shadow
 *     |               ^^^^^^^^^^^^^^^
 *     '
 *   Sass\Componentes\_alertas.scss 111:15  @use
 *   sass\main.scss 15:1                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 111 \2502    box-shadow: $creeper-shadow; // creeper-shadow\d\a     \2502                ^^^^^^^^^^^^^^^\a     \2575 \a   Sass\\Componentes\\_alertas.scss 111:15  @use\a   sass\\main.scss 15:1                    root stylesheet";
}
