@use 'paleta' as p;

$xs:60px;
$small: 110px;
$medium: 140px;
$large: 180px;
$xl:220px;





@mixin boton-minecraft($nombre, $size, $color) {
    .btn-#{$nombre} {
      width: $size;
      height: $size - ($size / 2.5);
      background-color: $color;
      color: lighten($color, 40%);
      border: none;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
     
      

      &:hover {
        background-color: darken($color, 10%);
        color: lighten($color, 60%);
      }
  
      &:active {
        background-color: darken($color, 20%);
        color: lighten($color, 70%);
      }
    }
  }

  
 @include boton-minecraft(mar,$small,p.$azul-mar);
 @include boton-minecraft(arena,$small, p.$arena-clara);
@include boton-minecraft(tierra,$small,p.$marron-tierra );
  @include boton-minecraft(hoja,$small, p.$verde-hoja);
@include boton-minecraft(TNT,$small, p.$rojo-explosivo);
@include boton-minecraft(oro,$small, p.$amarillo-oro);
@include boton-minecraft(diamante,$small, p.$azul-diamante);
@include boton-minecraft(piedraDelEnd,$small, p.$beige-palido);
@include boton-minecraft(obsidiana,$small, p.$purpura-oscuro);


@include boton-minecraft(xs-axolote, $xs, p.$rosa-ajolote);
@include boton-minecraft(sm-gato, $small, p.$crema-gato);
@include boton-minecraft(md-lobo, $medium, p.$gris-lobo);
@include boton-minecraft(lg-caballo, $large, p.$marron-caballo);
@include boton-minecraft(xl-vaca, $xl, p.$marron-vaca);


