@use '../sass/Clases_Utilitarias/paleta' as *;
@use '../sass/Clases_Utilitarias/fuente' as *;

body{
   background-image: url('/Imagenes/minecraft-inicio.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
}

h1, h2, h3 {
    margin: 0;
    text-transform: uppercase;
    text-shadow:
      1px 1px 0 $negro-purpura,
      2px 2px 0 $negro-purpura;
    color: $blanco-azulado;
    text-align: center;
  }
  
  h4, h5, h6 {
    font-family: $font-minecraft2;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: $blanco-azulado;
  }
  p {
    font-family: $font-minecraft2;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: large;
    color: $blanco-azulado;
  }
  span{
    margin: 5px;
    font-size: 18px;
    font-family: 'Press Start 2P';
    text-align: start;
   color: $arena-clara;
  }


  
  h1 { font-size: 32px; color: $amarillo-oro; }
  h2 { font-size: 28px; color: $azul-diamante; }
  h3 { font-size: 24px; color: $verde-pasto; }
  h4 { font-size: 20px; color: $rojo-intenso; }
  h5 { font-size: 16px; color: $turquesa-brillante; }
  h6 { font-size: 14px; color: $gris-lobo; }

