
body{
    background-color: black;
}

h1, h2, h3 {
    font-family: $font-minecraft1;
    margin: 0;
    text-transform: uppercase;
    text-shadow:
      1px 1px 0 $negro-purpura,
      2px 2px 0 $negro-purpura;
    color: $blanco-azulado;
  }
  
  h4, h5, h6, p {
    font-family: $font-minecraft2;
    margin: 0;
    text-transform: uppercase;

    color: $blanco-azulado;
  }
  
  h1 { font-size: 32px; color: $amarillo-oro; }
  h2 { font-size: 28px; color: $azul-diamante; }
  h3 { font-size: 24px; color: $verde-pasto; }
  h4 { font-size: 20px; color: $rojo-intenso; }
  h5 { font-size: 16px; color: $turquesa-brillante; }
  h6 { font-size: 14px; color: $gris-lobo; }
