@use '../Clases_Utilitarias/paleta' as *;

//fuentes externas
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Importar fuente de Minecraft */
@font-face {
    font-family: 'MinecraftFont';
    src: url('/assets/fonts/minecraft.woff2') format('woff2');}


//tamaño de la fuente
$size-1: 1vh;   //variables con unidades vh (altura del viewport)
$size-2: 2.3vh;
$size-3: 3vh;
$size-4: 4vh;
$size-5: 5vh;

@mixin sizefont($nombre, $size){   //mixin para generar clases con un nombre tipo sf-1, sf-2
    .sf-#{$nombre}{
        font-size: $size;
        
    }
}

//includes para generar las clases
@include sizefont('1',$size-1);
@include sizefont('2',$size-2);
@include sizefont('3',$size-3);
@include sizefont('4',$size-4);
@include sizefont('5',$size-5);


//grosor de la fuente
.gf{
    font-weight: bold;
}

@mixin colorfuente($nombre, $color){ //mixin para generar clases para color fuente
    .color-font-#{$nombre}{
        color: $color;
    }
}

@include colorfuente('mar',$azul-mar);   //genera clases como color-font-mar
@include colorfuente('arena',$arena-clara);
@include colorfuente('tierra',$marron-tierra);
@include colorfuente('hoja', $verde-hoja);
@include colorfuente('TNT',$rojo-explosivo);
@include colorfuente('oro',$amarillo-oro);
@include colorfuente('diamante',$azul-diamante);
@include colorfuente('piedraDelEnd',$beige-palido);
@include colorfuente('obsidiana',$purpura-oscuro);



$font-minecraft1: "Press Start 2P";
$font-minecraft2: "Chakra Petch";
$font-minecraft3: "Open Sans";


//tipo de texto
.ttxt-Minecraft{
    font-family: 'MinecraftFont', sans-serif;

}

.ttxt-PressStart{
    font-family: 'Press Start 2P';
}

.ttxt-ChakraPetch{
    font-family: 'Chakra Petch';
}

.ttxt-OpenSans{
    font-family: 'Open Sans';
}

//alineacion horizontal del texto dentro de un elemento bloque
.ta-center{
    text-align:center ;
}
.ta-justify{
    text-align: justify;
}

.ta-left{
    text-align: left;
}

.ta-right{
    text-align: right;
}

.ta-start{
    text-align: start;
}

.ta-end{
    text-align: end;
}

