@use '../Clases_Utilitarias/paleta' as *;
@use 'sass:math'; 
@use 'sass:color';
@use '../Clases_Utilitarias/fuente';

$xs:60px;
$small: 110px;
$medium: 140px;
$large: 180px;
$xl:220px;

body{
  background-color: $marron-tierra;
  font-family: 'Courier New', monospace;
  padding: 20px;
}
.panel {
  background-color: $naranja-oxido;
  border: 4px solid #7c4c11;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px color.adjust(#c69c6d, $lightness: -10%);
}

.panel h2 {
  margin-top: 0;
  color: #3b2e1d;
}

.descripcion {
  margin-bottom: 15px;
  color: #444;
  font-size: 1rem;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.codigo {

  padding: 5px;
  font-size: 18px;
  border-left: 4px solid #7c4c11;
  
  overflow-x: auto;
  white-space: pre-wrap;
  color: #222;

}

@mixin boton-minecraft($nombre, $size, $color-claro, $color) {
  
  $text-color: null;
  $hover-bg: null;
  $hover-text: null;
  $active-bg: null;
  $active-text: null;

  @if $color-claro {

    $text-color: color.adjust($color, $lightness: -40%);
$hover-bg: color.adjust($color, $lightness: -10%);
$hover-text: color.adjust($color, $lightness: -40%);
$active-bg: color.adjust($color, $lightness: -20%);
$active-text: color.adjust($color, $lightness: -70%);

  } 
  @else {
    $text-color: color.adjust($color, $lightness: 40%);
    $hover-bg: color.adjust($color, $lightness: 10%);
    $hover-text: color.scale($color, $lightness: 60%);
    $active-bg: color.adjust($color, $lightness: 20%);
    $active-text: color.adjust($color, $lightness: 70%);
  }

  .btn-#{$nombre} {
    width: $size;
    height: $size - math.div($size, 2.5);
    background-color: $color;
    color: $text-color;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $hover-bg;
      color: $hover-text;
    }

    &:active {
      background-color: $active-bg;
      color: $active-text;
    }
  }
}
  
@include boton-minecraft(sm-mar, $small, false, $azul-mar);
@include boton-minecraft(sm-arena, $small, true, $arena-clara);
@include boton-minecraft(sm-tierra, $small, false, $marron-tierra);
@include boton-minecraft(sm-hoja, $small, false, $verde-hoja);
@include boton-minecraft(sm-TNT, $small, false, $rojo-explosivo);
@include boton-minecraft(sm-oro, $small, true, $amarillo-oro);
@include boton-minecraft(sm-diamante, $small, false, $azul-diamante);
@include boton-minecraft(sm-piedraDelEnd, $small, true, $beige-palido);
@include boton-minecraft(sm-obsidiana, $small, false, $purpura-oscuro);

@include boton-minecraft(xs-axolote, $xs, true, $rosa-ajolote);
@include boton-minecraft(sm-gato, $small, true, $crema-gato);
@include boton-minecraft(md-lobo, $medium, true, $gris-lobo);
@include boton-minecraft(lg-caballo, $large, false, $marron-caballo);
@include boton-minecraft(xl-vaca, $xl, false, $marron-vaca);


