@use '../Clases_Utilitarias/paleta' as *;
@use 'botones';

$color-fondo: #f4f1ee;
$color-borde: $marron-madera; // marrón tipo madera
$color-input: #dad2c6;
$color-focus: $azul-diamante; // color diamante
$color-texto: #3a3a3a;
$radio-pixel: 0.3vh;

.minecraft-form{
    background-color: $color-fondo;
    border: 4px solid $color-borde;
    border-radius: $radio-pixel;
    padding: 2vh;
    font-family: 'monospace';
    max-width: 500px;
    margin: auto;
    box-shadow: 4px 4px 0px #3b3b3b;
}

.minecraft-form-label{
    font-size: 1.8vh;
    color: $color-borde;
    margin-bottom: 0.5vh;
    display: block;
}

.minecraft-form-control{
    background-color: $color-input;
    border: 2px solid $color-borde;
    border-radius: $radio-pixel;
    padding: 0.8vh;
    width: 100%;
    margin-bottom: 1.2vh;
    font-family: 'monospace';
    font-size: 1.6vh;
    color: $color-texto;
}

.minecraft-form-control:focus{
    outline: none;
  border-color: $color-focus;
  box-shadow: 0 0 1vh 0.2vh $color-focus;
}

.minecraft-check{
    display: flex;
  align-items: center;
  margin: 1vh 0;
  input {
    margin-right: 1vh;
    accent-color: $color-borde;
  }

  label {
    font-family: monospace;
    font-size: 1.6vh;
    color: $color-texto;
  }
}

.disable {
    background-color: #dadada;
    color: $color-texto;
  }

  @mixin formSizeCmb($size, $nombre) {
    .form-Cmb-#{$nombre} {
      width: $size;
    }
  }

  $sizes: (
  'small': 100px,
  'medium': 200px,
  'large': 300px,
  'xl': 400px
);

